
body{
    background-color: #2c2c2c;
    padding: 20px 20px;
}


#name{
    color:#383838;
    word-break:normal;
    
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 20px;
    margin-top: 50px;
    

}





#headshot{
    margin-top: 30px;
    
    
 
}

#bio{
    color: #cac89f;
    font-size: xx-large;
    font-weight: bolder;
    line-height: 150%;
    font-family: 'Noto Sans', sans-serif;
    opacity:0.5;
}

#bio:hover{
    opacity:1;
    
    
}

#focus-header{
    margin-top: 50px;
    font-family: 'Noto Sans', sans-serif;
    color: #cac89f;
    font-size: x-large;
    font-weight: bolder;
    opacity:0.5;
}

#focus-header:hover{
    opacity:1;
    
    
}


#headshot-bio{
    margin-bottom: 50px
}

#skills-row{
    margin-top: 100px;
    background-color: #383838;
}

#cards{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #383838;
}


#cert-header{
    font-size: x-large;
    font-weight: bolder;
    margin-top: 100px;
    font-family: 'Noto Sans', sans-serif;
    color: #383838;
}

#contact-header{
    margin-top: 100px;
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Noto Sans', sans-serif;
    color: #383838;
}

#contact-text{
    font-size: x-large;
    font-weight: bold;
    padding: 20px 0px;
    font-family: 'Noto Sans', sans-serif;
    color: #cac89f;


}
#contact-text:hover{
    color: yellow;
}

#lang-photo{
    padding: 0px 10px;
}

#lang-photo:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

#work-text{
    color: #cac89f;
    opacity: 0.5;
    font-size: x-large;
    
}

#work-text:hover{
    opacity: 1;
}

#contact{

    margin-bottom: 50px;

}




