

#name{
    font-size: xx-large;
    font-weight: bolder;
    color: whitesmoke;
    word-break:normal;
    line-height: 70%;
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 20px;
    margin-top: 90px;
    

}

#first-name::after{     /* this is to make my first name go on seperate lines*/
    content: "\a";
    white-space: pre;
}

#last-name::before{
    content: "\a";
    white-space: pre;
}



#headshot{
    margin-top: 30px;
    
    
 
}

#bio{
    color: whitesmoke;
    font-size: x-large;
    line-height: 150%;
    
    font-family: 'Noto Sans', sans-serif;
}

#bio:hover{
    color: whitesmoke;
    font-size: xx-large;
    font-weight: bolder;
}


#headshot-bio{
    margin-bottom: 50px
}

#cards{
    font-size: large;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}


#cert-header{
    font-size: large;
    font-weight: bold;
    margin: 20px;
    font-family: 'Noto Sans', sans-serif;
}

#contact-header{
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Noto Sans', sans-serif;
}

#contact-text{
    font-size: large;
    font-weight: bold;
    padding: 20px 0px;
    font-family: 'Noto Sans', sans-serif;

}



img{
    padding: 0px 10px;
}


