

#name{
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    word-break:normal;
    line-height: 70%;
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 20px;
    margin-top: 90px;
    

}

#first-name::after{     /* this is to make my first name go on seperate lines*/
    content: "\a";
    white-space: pre;
}

#last-name::before{
    content: "\a";
    white-space: pre;
}

#name:hover{
    color: green;
}

#headshot{
    margin-top: 30px;
    
    
 
}

#bio{
    font-size: larger;
    line-height: 150%;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

#headshot-bio{
    margin-bottom: 50px
}

#cards{
    font-size: large;
    font-weight: bold;
}


#cert-header{
    font-size: large;
    font-weight: bold;
    margin: 20px
}

#contact-header{
    font-weight: bolder;
    font-size: x-large;
}

#contact-text{
    font-size: large;
    padding: 20px 0px;
    margin-left: 10px;
}

img{
    padding: 0px 10px;
}


