.row{
    margin-top: 30px
}

#name{
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    word-break:normal;
    line-height: 70%;
    font-family: 'Noto Sans', sans-serif;
    

}

#first-name::after{     /* this is to make my first name go on seperate lines*/
    content: "\a";
    white-space: pre;
}

#last-name::before{
    content: "\a";
    white-space: pre;
}

#name:hover{
    color: green;
}

#headshot{
    padding-right: 30px;
 
}

#bio{
    font-size: larger;
    line-height: 150%;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

#headshot-bio{
    margin-bottom: 50px
}


