
body{
    padding: 20px 20px;
    background-color: #60936f;
}


#name{
    color:#d50071;
    word-break:normal;
    
    font-family: 'Noto Sans', sans-serif;
    padding-bottom: 20px;
    margin-top: 50px;
}


#headshot{
    margin-top: 30px;
    
    
}

#bio{
    color: black;
    font-size: xx-large;
    font-weight: bolder;
    line-height: 150%;
    font-family: 'Noto Sans', sans-serif;
}



#headshot-bio{
    margin-bottom: 50px
}

#focus-header{
    margin-top: 50px;
    font-family: 'Noto Sans', sans-serif;
    color: black;
    font-size: x-large;
    font-weight: bolder;
    opacity:0.5;
}

#focus-header:hover{
    opacity:1;
    
    
}

#skills-row{
    margin-top: 100px;
    background-color: #60936f;
    
}

#cards{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #d50071;
    background-color: #60936f;
}

#lang-photo{
    padding: 0px 10px;
}

#lang-photo:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

#cert-header{
    font-size: x-large;
    font-weight: bolder;
    margin-top: 100px;
    font-family: 'Noto Sans', sans-serif;
    color: #d50071;
}

#certs{
    background-color: #60936f;
}

#contact-header{
    margin-top: 100px;
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Noto Sans', sans-serif;
    color: #d50071;
}

#contact-text{
    font-size: x-large;
    font-weight: bold;
    padding: 20px 0px;
    font-family: 'Noto Sans', sans-serif;
    color: black;
}

#contact-text:hover{
    color: darkgrey;
}

#contact{
    margin-bottom: 50px;
}

#work-text{
    color: black;
    font-size: x-large;
    
}

#work-text:hover{
    color: darkgrey;
}







